@{
    ViewData["Title"] = "Каталог";
}
<h1>@ViewData["Title"]</h1>

<p>Добро пожаловать в наш каталог! Здесь вы найдете множество интересных товаров.</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="/Images/Cain.jpg" class="card-img-top" alt="Товар 1">
            <div class="card-body">
                <h5 class="card-title">Каин</h5>
                <p class="card-text">Имбовый тип с повязкой на глазу)))</p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="/Images/Lost.jpg" class="card-img-top" alt="Товар 2">
            <div class="card-body">
                <h5 class="card-title">Лост</h5>
                <p class="card-text">Только для самых аккуртаных пользователей)</p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="/Images/Isaac1.png" class="card-img-top" alt="Товар 3">
            <div class="card-body">
                <h5 class="card-title">Айзек</h5>
                <p class="card-text">Это классика, блин, это знать надо</p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
</div>

<h2>Шутки для поднятия настроения</h2>
<ul>
    <li>Работа программиста и шамана имеет много общего — оба бормочут непонятные слова, совершают непонятные действия и не могут объяснить, как оно работает.</li>
    <li>Программисту нужно попасть на двенадцатый этаж. Он заходит в лифт, нажимает кнопку «1», затем «2» и долго ещё безуспешно ищет глазами клавишу Enter…</li>
    <li>Один монитор — обычный программист, два монитора — продвинутый программист, три монитора — системный программист, четыре монитора — охранник.</li>
    <li>Знаете как называется гроб для программистов? Skillbox</li>
</ul>

<p>Надеемся, вам понравится наш каталог! Если у вас есть вопросы, не стесняйтесь обращаться к нам.</p>
