@{
    ViewData["Title"] = "Главная страница";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
        }

        h1 {
            font-size: 2.5rem;
            color: #333;
            text-align: left; 
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            color: #555;
            text-align: left; 
        }

        .btn-custom {
            display: inline-block;
            padding: 15px 30px; 
            border-radius: 5px;
            background-color: #f0e68c; 
            color: #333;
            text-decoration: none;
            font-size: 1.2rem;
        }

        .btn-custom:hover {
            background-color: #e0d68c; 
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать на наш сайт!</h1>
        <p>Мы предлагаем уникальные товары из Айзека, во всех смыслах)</p>

        <div class="text-left mt-4">
            <a href="C:\Users\pk\source\repos\ClassWork1\Views\Home\Catalog.cshtml" class="btn-custom">Перейти в магазин</a>
        </div>
    </div>
</body>
</html>
